

.footer {
    background-color: rgba(var(--blackbean), 1);
    height: 4rem;
    color: rgba(var(--nyanza), 1);
    display: flex;
    align-items: center;
}

.footer div {
    flex: 1;
    
}

.logo {

}

.logowrapper {
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 1rem;
    
}

.media {
    justify-content: center;
}

.mediacontainer {
    margin: auto;
    width: 140px;
    display: flex;
    gap: 10px;
}

.mediawrapper {
    flex: 1;
    width: 40px;
    height: 40px;
    position: relative; 
}

.contact {
    text-align: right;
    margin-right: 1rem;
}

@media (max-width: 767px){
    .mediacontainer {
        width: 110px;
    }

    .mediawrapper {
        height: 30px;
    }

    .logowrapper {
        width: 30px;
        height: 30px;
        position: relative;
        margin-left: 1rem;
    }

    .footer p {
        font-size: .9rem;
    }
}
