
/* @import "./globals.css"; */


.hero {
    position: relative;
    display: grid;
    
}

.imagecontainer {
    display: grid;
    position: relative;
    
}


.image, .outerrectangle1, .outerrectangle2, .outerrectangle3 {
    grid-column: 1;
    grid-row: 1;
    color: rgba(var(--blackbean), 1);
}

.outerrectangle1, .outerrectangle2, .outerrectangle3 {
    z-index: 1;  
    margin: auto 0;
    text-align: center;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
    
}


.innerrectangle1, .innerrectangle2, .innerrectangle3 {
    padding: 4rem;
    transition: all .3s ease;
}

.innerrectangle1 h1, .innerrectangle2 h1, .innerrectangle3 h1 {
    font-size: 5em;
    font-weight: 700;
}

.innerrectangle1 h2, .innerrectangle2 h2, .innerrectangle3 h2 {
    margin-bottom: -1rem;
    font-weight: 200;
}

.image {
    z-index: 0;
    width: 100vw;
    height: 1000px;
}

.outerrectangle1 {
    background-color: rgba(var(--chestnut), 0.5);
}

.innerrectangle1 {
    background-color: rgba(var(--chestnut), 1);
    color: rgba(var(--almostwhite), 1)
}

.innerrectangle1:hover {
    background-color: rgba(var(--almostwhite), 1);
    color: rgba(var(--chestnut), 1);
}


.outerrectangle2 {
    background-color: rgba(var(--moonstone), 0.5);
}

.innerrectangle2 {
    background-color: rgba(var(--moonstone), 1);
    color: rgba(var(--almostwhite), 1);
}

.innerrectangle2:hover {
    background-color: rgba(var(--almostwhite), 1);
    color: rgba(var(--moonstone), 1);
}

.outerrectangle3 {
    background-color: rgba(var(--blackbean), 0.5);
}

.innerrectangle3 {
    background-color: rgba(var(--blackbean), 1);
    color: rgba(var(--almostwhite), 1);
}

.innerrectangle3:hover {
    background-color: rgba(var(--almostwhite), 1);
    color: rgba(var(--blackbean), 1);
}




