

.imagecontainer {
    display: grid;
    position: relative;
}


.image, .outerrectangle{
    grid-column: 1;
    grid-row: 1;
    color: rgba(var(--almostwhite), 1);
}

.outerrectangle {
    z-index: 1;  
    margin: auto 0;
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
}


.innerrectangle {
    border-radius: 1rem;
    padding: 2rem;
}

.innerrectangle h1 {
    font-size: 3em;
    font-weight: 500;
}

.innerrectangle h2 {
    margin-bottom: -1rem;
    font-weight: 600;
}

.image {
    z-index: 0;
    width: 100vw;
    height: 300px;
}

.outerrectangle {

}

.innerrectangle {
    background-color: rgba(var(--moonstone), 1);
}


.mapcontainer {
    width: calc(100vw - 400px); 
    height: 600px;
    position: relative;
}

.container {
    display: flex;
    margin: 0;
}

.sidebar {
    background-color: rgba(var(--blackbean), 1);
    overflow-y:auto;
    width: 400px;
    height: 600px;
    padding: 0 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebarcontent{
    overflow-y:auto;
}

.card {
    line-height: 200%;
    background-color: rgba(var(--almostwhite), 1);
    padding: 1rem;
    margin: 1rem 0;
    height: 300px;
}


.card h1 {
    font-weight: 600;
    text-decoration: underline;
}

.card p span {
    text-decoration: underline;
}


@media (max-width: 767px){
    .outerrectangle {
        grid-template-columns: 80vw;
    }

    .container {
        flex-direction: column;
    }

    .mapcontainer {
        width: 100vw; 
        height: 600px;
    }

    .sidebar {
        background-color: rgba(var(--blackbean), 1);
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .card {
        height: auto;
        width: 85vw;
    }

    .card h1{
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1rem;
    }
}
